<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tomasulo</title>
        <script src="angular.min.js"></script>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="TomasuloEstilo.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            var app = angular.module('RegisteerFile', []);
            app.controller('RFController', function ($scope) {
    //                Instruções SERÃO pegas do index
                $scope.instructions = [{'inst': 'L.D', 'target': 'F6', 'j': '34', 'k': 'R2', 'issue': '', 'ex': '', 'w': ''}, 
                    {'inst': 'L.D', 'target': 'F2', 'j': '45', 'k': 'R3', 'issue': '', 'ex': '', 'w': ''}, 
                    {'inst': 'MULTD', 'target': 'F0', 'j': 'F2', 'k': 'F4', 'issue': '', 'ex': '', 'w': ''},
                    {'inst': 'SUBD', 'target': 'F8', 'j': 'F6', 'k': 'F2', 'issue': '', 'ex': '', 'w': ''},
                    {'inst': 'DIV.D', 'target': 'F10', 'j': 'F0', 'k': 'F6', 'issue': '', 'ex': '','w': ''},
                    {'inst': 'ADD.D', 'target': 'F6', 'j': 'F8', 'k': 'F2', 'issue': '', 'ex': '', 'w': ''}];
                $scope.cycleLoad = 2;
                $scope.cycleStore = 2;
                $scope.cycleMult = 10;
                $scope.cycleDiv = 40;
                $scope.cycleAddd = 2;
                $scope.cycleSubd = 2;
                $scope.cycleAdd = 1;
                $scope.cycleDaddui = 2;
                $scope.cycleBeq = 1;
                $scope.cycleBnez = 1;
                
                
    //                Unidades Funcionais
                $scope.functionalUnityLoad = [{'name': 'Load1', 'busy': 'no', 'address': ''},
                                              {'name': 'Load2', 'busy': 'no', 'address': ''},
                                              {'name': 'Load3', 'busy': 'no', 'address': ''},
                                              {'name': 'Load4', 'busy': 'no', 'address': ''},
                                              {'name': 'Load5', 'busy': 'no', 'address': ''},
                                              {'name': 'Load6', 'busy': 'no', 'address': ''}];
                                          
                $scope.functionalUnityMulDiv = [{'type': '' , 'name': 'Mult1', 'busy': 'no', 'op': '', 'vj': '', 'vk': '', 'qj': '', 'qk': ''},
                                                {'type': '' , 'name': 'Mult2', 'busy': 'no', 'op': '', 'vj': '', 'vk': '', 'qj': '', 'qk': ''}
                                                ];
                                                
                $scope.functionalUnityStore = [{'type': '' , 'name': 'Store1', 'busy': 'no', 'op': '', 'vj': '', 'vk': '', 'qj': '', 'qk': ''},
                                               {'type': '' , 'name': 'Store2', 'busy': 'no', 'op': '', 'vj': '', 'vk': '', 'qj': '', 'qk': ''},
                                               {'type': '' , 'name': 'Store3', 'busy': 'no', 'op': '', 'vj': '', 'vk': '', 'qj': '', 'qk': ''}];
                                           
                $scope.functionalUnityAddSub = [{'type': '' ,'name': 'Add1', 'busy': 'no', 'op': '', 'vj': '', 'vk': '', 'qj': '', 'qk': ''},
                                                {'type': '' ,'name': 'Add2', 'busy': 'no', 'op': '', 'vj': '', 'vk': '', 'qj': '', 'qk': ''},
                                                {'type': '' ,'name': 'Add3', 'busy': 'no', 'op': '', 'vj': '', 'vk': '', 'qj': '', 'qk': ''}
                                                ];
                                                
                $scope.functionalUnityInteger = [{'type': '' ,'name': 'Integer1', 'busy': 'no', 'op': '', 'vj': '', 'vk': '', 'qj': '', 'qk': ''},
                                                 {'type': '' ,'name': 'Integer2', 'busy': 'no', 'op': '', 'vj': '', 'vk': '', 'qj': '', 'qk': ''},
                                                 {'type': '' ,'name': 'Integer3', 'busy': 'no', 'op': '', 'vj': '', 'vk': '', 'qj': '', 'qk': ''}];
                $scope.dependecyListRAW = [];
                $scope.dictRenamed = {};
                $scope.instructionIssueCounter = 0;
                $scope.clockCycle = 1;
                
                $scope.execution = function(){
                    for(func in $scope.functionalUnityLoad){
                        
                        //                tem alguma coisa de ultil                                                           não ta na lista de dependencia  
                        if(($scope.functionalUnityLoad[func].posInst != undefined && $scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityLoad[func].posInst].k) == -1) ||
                                ( $scope.functionalUnityLoad[func].ex == 'true')){
                            if($scope.functionalUnityLoad[func].cycle == undefined && $scope.functionalUnityLoad[func].busy == 'yes'){
                                $scope.functionalUnityLoad[func].cycle = $scope.cycleLoad-1;
                                $scope.functionalUnityLoad[func].ex = 'true';
                            }else if($scope.functionalUnityLoad[func].cycle > 0){
                                $scope.functionalUnityLoad[func].cycle--;
                            }
                            if($scope.functionalUnityLoad[func].cycle == 0){
                                $scope.instructions[$scope.functionalUnityLoad[func].posInst].ex = $scope.clockCycle;
                                $scope.functionalUnityLoad[func].cycle = undefined;
                            }
                        }
                    }
                    for(func in $scope.functionalUnityAddSub){
                        if(($scope.functionalUnityAddSub[func].posInst != undefined && $scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityAddSub[func].posInst].k) == -1 && 
                                $scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityAddSub[func].posInst].j) == -1  ) || ($scope.functionalUnityAddSub[func].ex == 'true')){
                            if($scope.functionalUnityAddSub[func].cycle == undefined && $scope.functionalUnityAddSub[func].busy == 'yes'){
                                if($scope.instructions[$scope.functionalUnityAddSub[func].posInst].inst == 'ADD.D'){
                                    $scope.functionalUnityAddSub[func].cycle = $scope.cycleAddd-1;
                                }else{
                                    $scope.functionalUnityAddSub[func].cycle = $scope.cycleSubd-1;
                                }
                                $scope.functionalUnityAddSub[func].ex = 'true';
                            }else if($scope.functionalUnityAddSub[func].cycle > 0){
                                $scope.functionalUnityAddSub[func].cycle--;
                            }
                            if($scope.functionalUnityAddSub[func].cycle == 0){
                                $scope.instructions[$scope.functionalUnityAddSub[func].posInst].ex = $scope.clockCycle;
                                $scope.functionalUnityAddSub[func].cycle = undefined;
                            }
                        }
                    }
                    for(func in $scope.functionalUnityStore){
                        if(($scope.functionalUnityStore[func].posInst != undefined && $scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityStore[func].posInst].k) == -1) ||
                                ($scope.functionalUnityStore[func].ex == 'true')){
                            if($scope.functionalUnityStore[func].posInst != undefined && $scope.instructions[$scope.functionalUnityStore[func].posInst].waitWrite == undefined){
                                if($scope.functionalUnityStore[func].cycle == undefined && $scope.functionalUnityStore[func].busy == 'yes'){
                                    $scope.functionalUnityStore[func].cycle = $scope.cycleStore-1;
                                    $scope.functionalUnityStore[func].ex = 'true';
                                }else if($scope.functionalUnityStore[func].cycle > 0){
                                    $scope.functionalUnityStore[func].cycle--;
                                }
                                if($scope.functionalUnityStore[func].cycle == 0){
                                    $scope.instructions[$scope.functionalUnityStore[func].posInst].ex = $scope.clockCycle;
                                    $scope.functionalUnityStore[func].cycle = undefined;
                                }
                            }
                        }
                    }
                    for(func in $scope.functionalUnityMulDiv){
                        if(($scope.functionalUnityMulDiv[func].posInst != undefined && $scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityMulDiv[func].posInst].k) == -1 &&
                                $scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityMulDiv[func].posInst].j) == -1  ) || ($scope.functionalUnityMulDiv[func].ex == 'true')){
                            if($scope.functionalUnityMulDiv[func].cycle == undefined && $scope.functionalUnityMulDiv[func].busy == 'yes'){
                                if($scope.instructions[$scope.functionalUnityMulDiv[func].posInst].inst == 'MULTD'){
                                    $scope.functionalUnityMulDiv[func].cycle = $scope.cycleMult-1;
                                }else{
                                    $scope.functionalUnityMulDiv[func].cycle = $scope.cycleDiv-1;
                                }
                                $scope.functionalUnityMulDiv[func].ex = 'true';
                            }else if($scope.functionalUnityMulDiv[func].cycle > 0){
                                $scope.functionalUnityMulDiv[func].cycle--;
                            }
                            if($scope.functionalUnityMulDiv[func].cycle == 0){
                                $scope.instructions[$scope.functionalUnityMulDiv[func].posInst].ex = $scope.clockCycle;
                                $scope.functionalUnityMulDiv[func].cycle = undefined;
                            }
                        }
                    }
                    for(func in $scope.functionalUnityInteger){
                        if(($scope.functionalUnityInteger[func].posInst != undefined && $scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityInteger[func].posInst].k) == -1 &&
                                $scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityInteger[func].posInst].j) == -1  ) || ($scope.functionalUnityInteger[func].ex == 'true')){
                            if($scope.functionalUnityInteger[func].cycle == undefined && $scope.functionalUnityInteger[func].busy == 'yes'){
                                if($scope.instructions[$scope.functionalUnityInteger[func].posInst].inst == 'ADD'){
                                    $scope.functionalUnityInteger[func].cycle = $scope.cycleAdd-1;
                                }else if($scope.instructions[$scope.functionalUnityInteger[func].posInst].inst == 'DADDUI'){
                                    $scope.functionalUnityInteger[func].cycle = $scope.cycleDaddui-1;
                                }else if($scope.instructions[$scope.functionalUnityInteger[func].posInst].inst == 'BNEZ'){
                                    $scope.functionalUnityInteger[func].cycle = $scope.cycleBnez-1;
                                }else{
                                     $scope.functionalUnityInteger[func].cycle = $scope.cycleBeq-1;
                                }
                                $scope.functionalUnityInteger[func].ex = 'true';
                            }else if($scope.functionalUnityInteger[func].cycle > 0){
                                $scope.functionalUnityInteger[func].cycle--;
                            }
                            if($scope.functionalUnityInteger[func].cycle == 0){
                                $scope.instructions[$scope.functionalUnityInteger[func].posInst].ex = $scope.clockCycle;
                                $scope.functionalUnityInteger[func].cycle = undefined;
                            }
                        }
                    }
                }
                
                $scope.getFreeUnity = function(functionalUnity){
                    n = functionalUnity.length;
                    for(i = 0; i < n;i++){
                        if(functionalUnity[i].busy == 'no'){
                            return i;
                        }
                    }
                    return -1;
                }
                $scope.write = function(){
                    for(func in $scope.functionalUnityLoad){
                        if($scope.functionalUnityLoad[func].posInst != undefined && $scope.instructions[$scope.functionalUnityLoad[func].posInst].ex != '' && $scope.instructions[$scope.functionalUnityLoad[func].posInst].w == ''){
                            $scope.instructions[$scope.functionalUnityLoad[func].posInst].w = $scope.clockCycle;
                            $scope.functionalUnityLoad[func].busy = 'no';
                            $scope.functionalUnityLoad[func].address = '';
                            $scope.dependecyListRAW.splice($scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityLoad[func].posInst].target),1);
                        }
                    }
                    for(func in $scope.functionalUnityAddSub){
                        if($scope.functionalUnityAddSub[func].posInst != undefined && $scope.instructions[$scope.functionalUnityAddSub[func].posInst].ex != '' && $scope.instructions[$scope.functionalUnityAddSub[func].posInst].w == ''){
                            $scope.instructions[$scope.functionalUnityAddSub[func].posInst].w = $scope.clockCycle;
                            $scope.functionalUnityAddSub[func].busy = 'no';
                            $scope.functionalUnityAddSub[func].vj = '';
                            $scope.functionalUnityAddSub[func].vk = '';
                            $scope.functionalUnityAddSub[func].qj = '';
                            $scope.functionalUnityAddSub[func].qk = '';
                            $scope.functionalUnityAddSub[func].op = '';
                            $scope.dependecyListRAW.splice($scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityAddSub[func].posInst].target),1);
                        }
                    }
                    for(func in $scope.functionalUnityStore){
                        if($scope.functionalUnityStore[func].posInst != undefined && $scope.instructions[$scope.functionalUnityStore[func].posInst].ex != '' && $scope.instructions[$scope.functionalUnityStore[func].posInst].w == ''){
                            $scope.instructions[$scope.functionalUnityStore[func].posInst].waitWrite = "true";
                            if($scope.functionalUnityStore[func].posInst != undefined && $scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityStore[func].posInst].target) == -1){
                                $scope.instructions[$scope.functionalUnityStore[func].posInst].w = $scope.clockCycle;
                                $scope.functionalUnityStore[func].busy = 'no';
                                $scope.functionalUnityStore[func].address = '';
                                $scope.instructions[$scope.functionalUnityStore[func].posInst].waitWrite = undefined;
                                $scope.dependecyListRAW.splice($scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityStore[func].posInst].target),1);
                            }
                        }
                    }
                     for(func in $scope.functionalUnityMulDiv){
                        if($scope.functionalUnityMulDiv[func].posInst != undefined && $scope.instructions[$scope.functionalUnityMulDiv[func].posInst].ex != '' && $scope.instructions[$scope.functionalUnityMulDiv[func].posInst].w == ''){
                            $scope.instructions[$scope.functionalUnityMulDiv[func].posInst].w = $scope.clockCycle;
                            $scope.functionalUnityMulDiv[func].busy = 'no';
                            $scope.functionalUnityMulDiv[func].vj = '';
                            $scope.functionalUnityMulDiv[func].vk = '';
                            $scope.functionalUnityMulDiv[func].qj = '';
                            $scope.functionalUnityMulDiv[func].qk = '';
                            $scope.functionalUnityMulDiv[func].op = '';
                            $scope.dependecyListRAW.splice($scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityMulDiv[func].posInst].target),1);
                        }
                    }
                    for(func in $scope.functionalUnityInteger){
                        if($scope.functionalUnityInteger[func].posInst != undefined && $scope.instructions[$scope.functionalUnityInteger[func].posInst].ex != '' && $scope.instructions[$scope.functionalUnityInteger[func].posInst].w == ''){
                            $scope.instructions[$scope.functionalUnityInteger[func].posInst].w = $scope.clockCycle;
                            $scope.functionalUnityInteger[func].busy = 'no';
                            $scope.functionalUnityInteger[func].vj = '';
                            $scope.functionalUnityInteger[func].vk = '';
                            $scope.functionalUnityInteger[func].qj = '';
                            $scope.functionalUnityInteger[func].qk = '';
                            $scope.functionalUnityInteger[func].op = '';
                            $scope.dependecyListRAW.splice($scope.dependecyListRAW.indexOf($scope.instructions[$scope.functionalUnityMulDiv[func].posInst].target),1);
                        }
                    }
                }
                $scope.issue = function() {
                    if($scope.instructionIssueCounter < $scope.instructions.length){
                        
                        if($scope.instructions[$scope.instructionIssueCounter].inst == 'L.D' && $scope.getFreeUnity($scope.functionalUnityLoad) > -1 && $scope.instructions[$scope.instructionIssueCounter].issue == ''){
                            
                            $scope.dependecyListRAW.push($scope.instructions[$scope.instructionIssueCounter].target);
                            freePosition = $scope.getFreeUnity($scope.functionalUnityLoad);
                            $scope.functionalUnityLoad[freePosition].busy = 'yes';
                            $scope.functionalUnityLoad[freePosition].posInst = $scope.instructionIssueCounter;
                            $scope.functionalUnityLoad[freePosition].address = $scope.instructions[$scope.instructionIssueCounter].j +'+'+ $scope.instructions[$scope.instructionIssueCounter].k;
                            $scope.instructions[$scope.instructionIssueCounter].issue = $scope.clockCycle;
                            
                            $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].target] = $scope.functionalUnityLoad[freePosition].name;

                            
                            $scope.instructionIssueCounter++;
                            
                        }else if(($scope.instructions[$scope.instructionIssueCounter].inst == 'MULTD' || $scope.instructions[$scope.instructionIssueCounter].inst == 'DIV.D') && $scope.getFreeUnity($scope.functionalUnityMulDiv) > -1 && $scope.instructions[$scope.instructionIssueCounter].issue == ''){

                            $scope.dependecyListRAW.push($scope.instructions[$scope.instructionIssueCounter].target);
                            freePosition = $scope.getFreeUnity($scope.functionalUnityMulDiv);
                            $scope.functionalUnityMulDiv[freePosition].busy = 'yes';
                            $scope.functionalUnityMulDiv[freePosition].posInst = $scope.instructionIssueCounter;
                            $scope.functionalUnityMulDiv[freePosition].op = $scope.instructions[$scope.instructionIssueCounter].inst;
                            if($scope.dependecyListRAW.indexOf($scope.instructions[$scope.instructionIssueCounter].j) == -1){
                                if($scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].j] == undefined){
                                    $scope.functionalUnityMulDiv[freePosition].vj = $scope.instructions[$scope.instructionIssueCounter].j;
                                }else{
                                    $scope.functionalUnityMulDiv[freePosition].vj = $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].j];
                                }
                            }
                            if($scope.dependecyListRAW.indexOf($scope.instructions[$scope.instructionIssueCounter].k) == -1){
                                if($scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].k] == undefined){
                                    $scope.functionalUnityMulDiv[freePosition].vk = $scope.instructions[$scope.instructionIssueCounter].k;
                                }else{
                                    $scope.functionalUnityMulDiv[freePosition].vk = $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].k];
                                }
                            }
                            if($scope.dependecyListRAW.indexOf($scope.instructions[$scope.instructionIssueCounter].j) > -1){
                                if($scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].j] == undefined){
                                    $scope.functionalUnityMulDiv[freePosition].qj = $scope.instructions[$scope.instructionIssueCounter].j;
                                }else{
                                    $scope.functionalUnityMulDiv[freePosition].qj = $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].j];
                                }
                            }
                            if($scope.dependecyListRAW.indexOf($scope.instructions[$scope.instructionIssueCounter].k) > -1){
                                if($scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].k] == undefined){
                                    $scope.functionalUnityMulDiv[freePosition].qk = $scope.instructions[$scope.instructionIssueCounter].k;
                                }else{
                                    $scope.functionalUnityMulDiv[freePosition].qk = $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].k];
                                }
                            }
                            $scope.instructions[$scope.instructionIssueCounter].issue = $scope.clockCycle;
                            $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].target] = $scope.functionalUnityMulDiv[freePosition].name;
                            $scope.instructionIssueCounter++;


                        }else  if($scope.instructions[$scope.instructionIssueCounter].inst == 'S.D' && $scope.getFreeUnity($scope.functionalUnityStore) > -1 && $scope.instructions[$scope.instructionIssueCounter].issue == ''){
                            
                            freePosition = $scope.getFreeUnity($scope.functionalUnityStore);
                            $scope.functionalUnityStore[freePosition].busy = 'yes';
                            $scope.functionalUnityStore[freePosition].posInst = $scope.instructionIssueCounter;
                            $scope.functionalUnityStore[freePosition].address = $scope.instructions[$scope.instructionIssueCounter].j +'+'+ $scope.instructions[$scope.instructionIssueCounter].k;
                            $scope.instructions[$scope.instructionIssueCounter].issue = $scope.clockCycle;
                            
                            $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].target] = $scope.functionalUnityStore[freePosition].name;
                            $scope.instructionIssueCounter++;


                        }else if(($scope.instructions[$scope.instructionIssueCounter].inst == 'ADD.D' || $scope.instructions[$scope.instructionIssueCounter].inst == 'SUBD') && $scope.getFreeUnity($scope.functionalUnityAddSub) > -1 && $scope.instructions[$scope.instructionIssueCounter].issue == ''){

                            $scope.dependecyListRAW.push($scope.instructions[$scope.instructionIssueCounter].target);
                            freePosition = $scope.getFreeUnity($scope.functionalUnityAddSub);
                            $scope.functionalUnityAddSub[freePosition].busy = 'yes';
                            $scope.functionalUnityAddSub[freePosition].posInst = $scope.instructionIssueCounter;
                            $scope.functionalUnityAddSub[freePosition].op = $scope.instructions[$scope.instructionIssueCounter].inst;
                            if($scope.dependecyListRAW.indexOf($scope.instructions[$scope.instructionIssueCounter].j) == -1){
                                if($scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].j] == undefined){
                                    $scope.functionalUnityAddSub[freePosition].vj = $scope.instructions[$scope.instructionIssueCounter].j;
                                }else{
                                    $scope.functionalUnityAddSub[freePosition].vj = $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].j];
                                }
                            }
                            if($scope.dependecyListRAW.indexOf($scope.instructions[$scope.instructionIssueCounter].k) == -1){
                                if($scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].k] == undefined){
                                    $scope.functionalUnityAddSub[freePosition].vk = $scope.instructions[$scope.instructionIssueCounter].k;
                                }else{
                                    $scope.functionalUnityAddSub[freePosition].vk = $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].k];
                                }
                            }
                            if($scope.dependecyListRAW.indexOf($scope.instructions[$scope.instructionIssueCounter].j) > -1){
                                if($scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].j] == undefined){
                                    $scope.functionalUnityAddSub[freePosition].qj = $scope.instructions[$scope.instructionIssueCounter].j;
                                }else{
                                    $scope.functionalUnityAddSub[freePosition].qj = $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].j];
                                }
                            }
                            if($scope.dependecyListRAW.indexOf($scope.instructions[$scope.instructionIssueCounter].k) > -1){
                                if($scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].k] == undefined){
                                    $scope.functionalUnityAddSub[freePosition].qk = $scope.instructions[$scope.instructionIssueCounter].k;
                                }else{
                                    $scope.functionalUnityAddSub[freePosition].qk = $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].k];
                                }
                            }
                            $scope.instructions[$scope.instructionIssueCounter].issue = $scope.clockCycle;
                            $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].target] = $scope.functionalUnityAddSub[freePosition].name;
                            $scope.instructionIssueCounter++;


                       }else if((($scope.instructions[$scope.instructionIssueCounter].inst == 'BEQ') || ($scope.instructions[$scope.instructionIssueCounter].inst == 'BNEZ') || 
                               ($scope.instructions[$scope.instructionIssueCounter].inst == 'ADD') || ($scope.instructions[$scope.instructionIssueCounter].inst == 'DADDUI')) && 
                               $scope.getFreeUnity($scope.functionalUnityInteger) > -1 && $scope.instructions[$scope.instructionIssueCounter].issue == ''){


                            $scope.dependecyListRAW.push($scope.instructions[$scope.instructionIssueCounter].target);
                            freePosition = $scope.getFreeUnity($scope.functionalUnityInteger);
                            $scope.functionalUnityInteger[freePosition].busy = 'yes';
                            $scope.functionalUnityInteger[freePosition].posInst = $scope.instructionIssueCounter;
                            $scope.functionalUnityInteger[freePosition].op = $scope.instructions[$scope.instructionIssueCounter].inst;
                            if($scope.dependecyListRAW.indexOf($scope.instructions[$scope.instructionIssueCounter].j) == -1){
                                if($scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].j] == undefined){
                                    $scope.functionalUnityInteger[freePosition].vj = $scope.instructions[$scope.instructionIssueCounter].j;
                                }else{
                                    $scope.functionalUnityInteger[freePosition].vj = $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].j];
                                }
                            }
                            if($scope.dependecyListRAW.indexOf($scope.instructions[$scope.instructionIssueCounter].k) == -1){
                                if($scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].k] == undefined){
                                    $scope.functionalUnityInteger[freePosition].vk = $scope.instructions[$scope.instructionIssueCounter].k;
                                }else{
                                    $scope.functionalUnityInteger[freePosition].vk = $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].k];
                                }
                            }
                            if($scope.dependecyListRAW.indexOf($scope.instructions[$scope.instructionIssueCounter].j) > -1){
                                if($scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].j] == undefined){
                                    $scope.functionalUnityInteger[freePosition].qj = $scope.instructions[$scope.instructionIssueCounter].j;
                                }else{
                                    $scope.functionalUnityInteger[freePosition].qj = $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].j];
                                }
                            }
                            if($scope.dependecyListRAW.indexOf($scope.instructions[$scope.instructionIssueCounter].k) > -1){
                                if($scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].k] == undefined){
                                    $scope.functionalUnityInteger[freePosition].qk = $scope.instructions[$scope.instructionIssueCounter].k;
                                }else{
                                    $scope.functionalUnityInteger[freePosition].qk = $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].k];
                                }
                            }
                            $scope.instructions[$scope.instructionIssueCounter].issue = $scope.clockCycle;
                            $scope.dictRenamed[$scope.instructions[$scope.instructionIssueCounter].target] = $scope.functionalUnityInteger[freePosition].name;
                            $scope.instructionIssueCounter++;


                        }else{
                            $scope.dependecyListRAW.push('Unidade cheia');
                        }
                    }
                }
                $scope.stepPerStep = function() {
                    $scope.write();
                    $scope.execution();
                    $scope.issue();
                    
                    $scope.clockCycle++;
                }

            });
        </script>
    </head>

    <body>

        <div ng-app="RegisteerFile" class="principal">
            <div ng-controller="RFController" class="regFile">
                Clock Cycle: {{clockCycle-1}}<br>
                {{dependecyListRAW}}
                {{dictRenamed}}
                <table class="tabela1">
                    <thead>
                    <th colspan=7 style="text-align: center"><h4>Register File</h4></th>
                    </thead>
                    <thead>
                    <th>Inst.</th>
                    <th>T</th>
                    <th>J</th>
                    <th>K</th>
                    <th>Issue</th>
                    <th>Exec.</th>
                    <th>W</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in instructions">
                            <td>{{i.inst}}</td>
                            <td>{{i.target}}</td>
                            <td>{{i.j}}</td>
                            <td>{{i.k}}</td>
                            <td>{{i.issue}}</td>
                            <td>{{i.ex}}</td>
                            <td>{{i.w}}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" ng-click="stepPerStep()">Next</button>
                <div class="tabelas">
                    <table>
                        <thead>
                        <th colspan=8><h4>Mult/Div unity</h4></th>
                        </thead>
                        <thead>
                        <th>Ex. Cycle</th>
                        <th>Name</th>
                        <th>Busy</th>
                        <th>Op</th>
                        <th>Vj</th>
                        <th>Vk</th>
                        <th>Qj</th>
                        <th>Qk</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="u in functionalUnityMulDiv">
                                <td>{{u.cycle}}</td>
                                <td>{{u.name}}</td>
                                <td>{{u.busy}}</td>
                                <td>{{u.op}}</td>
                                <td>{{u.vj}}</td>
                                <td>{{u.vk}}</td>
                                <td>{{u.qj}}</td>
                                <td>{{u.qk}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tabelas">
                    <table>
                        <thead>
                        <th colspan=8><h4>Add/Sub unity</h4></th>
                        </thead>
                        <thead>
                        <th>Ex. Cycle</th>
                        <th>Name</th>
                        <th>Busy</th>
                        <th>Op</th>
                        <th>Vj</th>
                        <th>Vk</th>
                        <th>Qj</th>
                        <th>Qk</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="u in functionalUnityAddSub">
                                <td>{{u.cycle}}</td>
                                <td>{{u.name}}</td>
                                <td>{{u.busy}}</td>
                                <td>{{u.op}}</td>
                                <td>{{u.vj}}</td>
                                <td>{{u.vk}}</td>
                                <td>{{u.qj}}</td>
                                <td>{{u.qk}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tabelas">
                    <table>
                        <thead>
                        <th colspan=8><h4>Integer unity</h4></th>
                        </thead>
                        <thead>
                        <th>Ex. Cycle</th>
                        <th>Name</th>
                        <th>Busy</th>
                        <th>Op</th>
                        <th>Vj</th>
                        <th>Vk</th>
                        <th>Qj</th>
                        <th>Qk</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="u in functionalUnityInteger">
                                <td>{{u.cycle}}</td>
                                <td>{{u.name}}</td>
                                <td>{{u.busy}}</td>
                                <td>{{u.op}}</td>
                                <td>{{u.vj}}</td>
                                <td>{{u.vk}}</td>
                                <td>{{u.qj}}</td>
                                <td>{{u.qk}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tabelas">
                    <table>
                        <thead>
                        <th colspan=8><h4>Load unity</h4></th>
                        </thead>
                        <thead>
                        <th>Ex. Cycle</th>
                        <th>Name</th>
                        <th>Busy</th>
                        <th>Address</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="u in functionalUnityLoad">
                                <td>{{u.cycle}}</td>
                                <td>{{u.name}}</td>
                                <td>{{u.busy}}</td>
                                <td>{{u.address}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="tabelas">
                    <table>
                        <thead>
                        <th colspan=8><h4>Store unity</h4></th>
                        </thead>
                        <thead>
                        <th>Ex. Cycle</th>
                        <th>Name</th>
                        <th>Busy</th>
                        <th>Address</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="u in functionalUnityStore">
                                <td>{{u.cycle}}</td>
                                <td>{{u.name}}</td>
                                <td>{{u.busy}}</td>
                                <td>{{u.address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>

</html>
